@import "@assets/styles/variables";
@import "@assets/styles/mixins";

.root {
    height: 100vh;
    overflow: hidden;
    background-color: $bg-blackout;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include global-padding;

    .content {
        display: flex;
        padding-top: $fluid-768-112-48;
        flex-direction: column;
        align-items: center;
        gap: $fluid-768-80-48;

        @include media-breakpoint-up("sm") {
            padding-top: $fluid-1024-112-80;
            gap: $fluid-1024-80-48;
        }

        @include media-breakpoint-up("lg") {
            padding-top: $fluid-1920-112-80;
            padding-inline: clamp(0rem, -34.125rem + 37.9167vw, 11.375rem);
            gap: $fluid-1920-80-48;
        }

        h1 {
            color: $text-inverse;
            text-align: center;
            @include heading-xl;

            @include media-breakpoint-up("md") {
                text-indent: clamp(20.75rem, 8.1346rem + 19.7115vw, 25.875rem);
                text-align: start;
            }

            @include media-breakpoint-up("lg") {
                text-indent: clamp(22.75rem, 35.25rem + -10.4167vw, 25.875rem);
            }
        }
    }

    .social {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-end;
        gap: clamp(0.5rem, 0.838rem + -0.3756vw, 0.75rem);
        position: absolute;
        bottom: $fluid-768-24-16;
        right: $fluid-768-24-16;

        @include media-breakpoint-up("md") {
            bottom: $fluid-1024-40-24;
            right: $fluid-1024-40-24;
        }

        @include media-breakpoint-up("lg") {
            bottom: $fluid-1920-60-40;
            right: $fluid-1920-60-40;
        }

        a {
            text-decoration: none;
            color: $text-inverse;
            text-align: right;
            @include paragraph-m;
        }
    }
    span {
        color: $text-inverse;
        position: absolute;
        bottom: $fluid-768-24-16;
        left: $fluid-768-24-16;
        @include caption;

        // add position for breakpoints up to "md"

        @include media-breakpoint-up("md") {
            bottom: $fluid-1024-40-24;
            left: $fluid-1024-40-24;
        }

        @include media-breakpoint-up("lg") {
            bottom: $fluid-1920-60-40;
            left: $fluid-1920-60-40;
        }
    }
}
