@import "@assets/styles/variables";
@import "@assets/styles/mixins";

.root {
    @include global-padding;
    padding-block: $fluid-768-120-80;

    @include media-breakpoint-up("md") {
        padding-block: clamp(7.5rem, -4.8077rem + 19.2308vw, 12.5rem);
    }

    h2 {
        color: $text-primary;
        @include heading-l;
    }

    .casesList {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        .caseCard {
            border-radius: 1rem;
            overflow: hidden;
        }
    }

    .buttonWrapper {
        display: flex;
        justify-content: center;
    }
}
