{
    "importOrder": [
        "^react",
        "^@/components/(.*)$",
        "<THIRD_PARTY_MODULES>",
        "^@/hooks/(.*)$",
        "^@/api/(.*)$",
        "^@/shared/(.*)$",
        "^@/helpers/(.*)$",
        "^@/store/(.*)$",
        "^.+\\.s?css$"
    ],
    "importOrderSortSpecifiers": true,
    "trailingComma": "all",
    "arrowParens": "always",
    "bracketSameLine": false,
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "singleQuote": true,
    "importOrderSeparation": true,
    "importOrderCaseInsensitive": true,
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "endOfLine": "lf",
    "jsxSingleQuote": true,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "semi": false
}
