@import "@assets/styles/variables";
@import "@assets/styles/mixins";

.root {
    padding-block: 7.5rem $fluid-768-120-80;
    @include global-padding;

    @include media-breakpoint-up("md") {
        padding-block: $fluid-1440-200-120 $fluid-1440-200-120;
    }

    .contactsWrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: $fluid-768-48-32;
        border-bottom: 1px solid $border-primary;

        @include media-breakpoint-up("lg") {
            flex-direction: row;
            justify-content: space-between;
        }

        h1 {
            color: $text-primary;
            @include heading-xl;

            @include media-breakpoint-up("lg") {
                width: clamp(33.25rem, 0.25rem + 36.6667vw, 44.25rem);
            }
        }

        .contacts {
            display: grid;
            grid-template-rows: repeat(4, 1fr);
            grid-template-columns: repeat(1, 1fr);
            gap: $fluid-768-20-8;
            padding-bottom: $fluid-768-72-56;

            @include media-breakpoint-up("sm") {
                grid-template-rows: repeat(2, 1fr);
                grid-template-columns: repeat(2, 1fr);
                max-width: clamp(40.25rem, 59.25rem + -29.6875vw, 45rem);
                align-self: flex-end;
            }

            @include media-breakpoint-up("md") {
                max-width: clamp(40.25rem, 36.25rem + 6.25vw, 41.875rem);
            }

            @include media-breakpoint-up("lg") {
                max-width: clamp(41.875rem, 0.625rem + 45.8333vw, 55.625rem);
            }

            div {
                display: flex;
                padding: $fluid-768-24-16;
                height: clamp(7.5rem, 5.1145rem + 10.1781vw, 10rem);
                flex-direction: column;
                align-items: flex-start;
                gap: 0.5rem;
                align-self: stretch;
                border-radius: 1rem;
                background: $bg-primary;

                @include media-breakpoint-up("sm") {
                    justify-content: space-between;
                }

                h2 {
                    color: $text-secondary;
                    @include caption;
                }

                p {
                    color: $text-primary;
                    align-self: stretch;
                    @include heading-xs;

                    a {
                        text-decoration: none;
                        color: $text-primary;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .addressList {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .addressItem {
            display: flex;
            padding-block: $fluid-768-32-24;
            flex-direction: column;
            align-items: flex-start;
            gap: $fluid-768-24-16;
            align-self: stretch;
            border-bottom: 1px solid var(--border-primary, #ddd8e3);

            @include media-breakpoint-up("md") {
                flex-direction: row;
                gap: 0;
                justify-content: space-between;
            }

            .content {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: $fluid-768-8-4;
                align-self: stretch;

                h3 {
                    color: $text-secondary;
                    @include caption;
                }

                address {
                    color: $text-primary;
                    max-width: clamp(17.5rem, 12.729rem + 20.3562vw, 22.5rem);
                    align-self: stretch;
                    @include heading-s;
                }
            }

            .iframeWrapper {
                height: clamp(12.0625rem, -0.5806rem + 53.944vw, 25.3125rem);
                align-self: stretch;
                border-radius: $fluid-768-24-16;
                overflow: hidden;
            }
        }
    }
}
