@import "@assets/styles/variables";
@import "@assets/styles/mixins";

.root {
    padding-block: $fluid-768-80-64;
    padding-inline: $fluid-768-24-16;
    background-color: $bg-inverse;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $fluid-768-72-56;

    @include media-breakpoint-up("sm") {
        gap: clamp(1.25rem, 14.25rem + -20.3125vw, 4.5rem);
    }

    @include media-breakpoint-up("md") {
        padding-inline: clamp(1.5rem, -13.2692rem + 23.0769vw, 7.5rem);
        flex-direction: row;
        justify-content: space-between;
    }

    @include media-breakpoint-up("lg") {
        padding-block: $fluid-1920-120-80;
        padding-inline: clamp(7.5rem, 0rem + 8.3333vw, 10rem);
        border-radius: 1.5rem;
        margin-inline: $fluid-1920-60-40;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $fluid-768-48-32;
        align-self: stretch;

        @include media-breakpoint-up("md") {
            gap: $fluid-1440-72-48;
            padding-right: 2.5rem;
            flex-direction: column;
            align-items: flex-start;
            flex: 1 0 0;
        }

        h2 {
            color: $text-inverse;
            text-align: center;
            align-self: stretch;
            @include heading-l;

            @include media-breakpoint-up("md") {
                text-align: left;
            }
        }

        .manager {
            display: flex;
            align-items: center;
            gap: $fluid-768-24-20;

            .imageWrapper {
                width: clamp(5rem, 3.5687rem + 6.1069vw, 6.5rem);
                height: clamp(5rem, 3.5687rem + 6.1069vw, 6.5rem);
                border-radius: 1.5rem;
                overflow: hidden;

                img {
                    height: 100%;
                    // width: auto;
                    object-fit: cover;
                }
            }

            .content {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: $fluid-768-16-8;
                max-width: clamp(14rem, 12.0916rem + 8.1425vw, 16rem);

                p {
                    color: $text-inverse;
                    align-self: stretch;
                    @include paragraph-m;
                }

                a {
                    color: $text-inverse-secondary;
                    text-decoration: none;
                    cursor: pointer;
                    @include paragraph-m;
                }
            }
        }
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: $fluid-768-32-24;
        align-self: stretch;

        @include media-breakpoint-up("md") {
            flex: 1 0 0;
        }

        label {
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        input,
        textarea {
            display: flex;
            padding: 1.25rem 0rem;
            align-items: center;
            align-self: stretch;
            border-bottom: 2px solid $border-inverse-alpha;
            border-top: none;
            border-left: none;
            border-right: none;
            outline: none;
            appearance: none;
            background: none;
            color: $text-secondary;
            @include input-field;

            &::placeholder {
                color: $text-secondary;
                transition: opacity 0.2s ease-in-out;
                @include input-field;
            }

            &:focus::placeholder {
                opacity: 0;
            }
        }

        textarea {
            align-items: flex-start;
            resize: none;
        }

        .formAction {
            display: flex;
            padding-top: 1rem;
            flex-direction: column;
            align-items: center;
            gap: $fluid-768-32-24;
            align-self: stretch;

            @include media-breakpoint-up("md") {
                padding-top: $fluid-1440-32-16;
            }

            @include media-breakpoint-up("lg") {
                flex-direction: row-reverse;
                justify-content: space-between;
            }

            p {
                color: $text-inverse-secondary;
                text-align: center;
                max-width: 20rem;
                @include paragraph-s;

                @include media-breakpoint-up("lg") {
                    flex: 1 0 0;
                    text-align: left;
                }

                a {
                    color: $text-inverse-secondary;
                    cursor: pointer;
                }
            }
        }
    }
}
