@import "@assets/styles/variables";
@import "@assets/styles/mixins";

.root {
    padding-block: $fluid-768-80-64;
    padding-inline: $fluid-768-24-16;
    background-color: $bg-inverse;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.5rem;

    @include media-breakpoint-up("md") {
        padding-inline: clamp(1.5rem, -13.2692rem + 23.0769vw, 7.5rem);
        flex-direction: row;
    }

    @include media-breakpoint-up("lg") {
        padding-block: $fluid-1920-120-80;
        padding-inline: clamp(7.5rem, 0rem + 8.3333vw, 10rem);
        border-radius: 1.5rem;
        margin-inline: $fluid-1920-60-40;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        align-self: stretch;

        h2 {
            color: $text-inverse;
            text-align: center;
            align-self: stretch;
            @include heading-l;
        }

        .manager {
            display: flex;
            align-items: center;
            gap: 1.25rem;

            .imageWrapper {
                width: var(--space-1000, 5rem);
                height: var(--space-1000, 5rem);
                border-radius: 1.5rem;
                background: url(<path-to-image>) lightgray -22.001px -8.379px / 155.003% 187.474% no-repeat;
            }

            .content {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 0.5rem;

                p {
                    color: $text-inverse;
                    align-self: stretch;
                    @include paragraph-m;
                }

                a {
                    color: $text-inverse-secondary;
                    text-decoration: none;
                    cursor: pointer;
                    @include paragraph-m;
                }
            }
        }
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
        align-self: stretch;

        label {
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        input {
            display: flex;
            padding: 1.25rem 0rem;
            align-items: center;
            align-self: stretch;
            border-bottom: 2px solid $border-inverse-alpha;
            border-top: none;
            border-left: none;
            border-right: none;
            outline: none;
            appearance: none;
            background: none;
        }

        input::placeholder {
            color: $text-secondary;
            @include input-field;
        }

        textarea {
            display: flex;
            padding: 1.25rem 0rem;
            align-items: flex-start;
            align-self: stretch;
            outline: none;
            appearance: none;
            background: none;
            border-bottom: 2px solid $border-inverse-alpha;
            border-top: none;
            border-left: none;
            border-right: none;
        }

        textarea::placeholder {
            color: $text-secondary;
            @include input-field;
        }

        .formAction {
            display: flex;
            padding-top: 1rem;
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;
            align-self: stretch;

            p {
                color: $text-inverse-secondary;
                text-align: center;
                max-width: 20rem;
                // align-self: stretch;
                @include paragraph-m;

                a {
                    color: $text-inverse-secondary;
                    cursor: pointer;
                }
            }
        }
    }
}
