@import "@assets/styles/variables";
@import "@assets/styles/mixins";

.root {
    display: flex;
    width: 100%;
    padding-block: $fluid-768-24-16;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 10;
    @include global-padding;

    @include media-breakpoint-up("sm") {
        padding-block: $fluid-1440-32-24;
    }
}
