@import "@assets/styles/variables";
@import "@assets/styles/mixins";

.root {
    @include global-padding;
    padding-block: $fluid-768-120-80;

    @include media-breakpoint-up("md") {
        padding-block: clamp(7.5rem, -4.8077rem + 19.2308vw, 12.5rem);
    }

    header {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding-bottom: $fluid-768-72-56;
        position: relative;

        @include media-breakpoint-up("md") {
            padding-inline: clamp(0rem, -21.2308rem + 33.1731vw, 8.625rem);
            padding-bottom: clamp(4.5rem, -9.0385rem + 21.1538vw, 10rem);
        }

        @include media-breakpoint-up("lg") {
            padding-inline: clamp(0rem, 34.5rem + -28.75vw, 8.625rem);
        }

        span {
            @include caption;

            @include media-breakpoint-up("md") {
                position: absolute;
                top: clamp(0rem, -2.3077rem + 7.6923vw, 1.5rem);
            }
        }

        h2 {
            @include heading-l;

            @include media-breakpoint-up("md") {
                text-indent: clamp(17.25rem, 8.6346rem + 13.4615vw, 20.75rem);
            }

            @include media-breakpoint-up("lg") {
                text-indent: clamp(17.25rem, 0.75rem + 18.3333vw, 22.75rem);
            }
        }
    }

    .processesGrid {
        .processCard {
            display: flex;
            padding: 1.5rem 0rem;
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;
            align-self: stretch;
            border-top: 1px solid $border-primary;

            .imageWrapper {
                border-radius: 1rem;
                background: $bg-primary;
                width: 16.875rem;
                height: 11.25rem;
            }

            .content {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                align-self: stretch;

                h3 {
                    text-align: center;
                    @include heading-s;
                }

                p {
                    text-align: center;
                    color: $text-secondary;
                    @include paragraph-m;
                }
            }
        }
    }
}
