@import "@assets/styles/variables";
@import "@assets/styles/mixins";

.root {
    @include global-padding;
    background-color: $bg-primary;
    padding-block: $fluid-768-96-64;

    @include media-breakpoint-up("md") {
        padding-block: clamp(6rem, -3.8462rem + 15.3846vw, 10rem);
    }

    header {
        display: flex;
        flex-direction: column;
        padding-bottom: $fluid-768-72-56;
        gap: 0.5rem;

        @include media-breakpoint-up("md") {
            gap: $fluid-1440-32-8;
            padding-bottom: $fluid-1440-120-72;
        }

        span {
            @include caption;
        }

        h2 {
            @include heading-m;
        }
    }

    .expertiseGrid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        align-items: start;
        row-gap: $fluid-768-72-40;

        @include media-breakpoint-up("sm") {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, auto);
            column-gap: 1.25rem;
        }

        @include media-breakpoint-up("md") {
            grid-template-columns: repeat(3, 1fr);
            row-gap: $fluid-1440-120-72;
            width: clamp(61rem, 23.1538rem + 59.1346vw, 76.375rem);
        }

        @include media-breakpoint-up("lg") {
            width: clamp(76.375rem, 2.125rem + 82.5vw, 101.125rem);
        }

        .expertiseCard {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: $fluid-768-40-24;
            align-self: stretch;

            &:nth-child(1) {
                @include media-breakpoint-up("md") {
                    grid-row: 1 / span 2;
                }
            }

            &:nth-child(2) {
                @include media-breakpoint-up("md") {
                    grid-column: 2 / span 2;
                }
            }

            @include media-breakpoint-up("md") {
                gap: $fluid-1440-64-40;
            }

            img {
                width: $fluid-768-120-80;
                height: $fluid-768-120-80;

                @include media-breakpoint-up("md") {
                    width: $fluid-1440-160-120;
                    height: $fluid-1440-160-120;
                }
            }

            .expertiseContent {
                display: flex;
                max-width: clamp(20rem, 18.5687rem + 6.1069vw, 21.5rem);
                flex-direction: column;
                align-items: flex-start;
                gap: 1rem;
                align-self: stretch;

                @include media-breakpoint-up("sm") {
                    max-width: clamp(19.5rem, 27.5rem + -12.5vw, 21.5rem);
                }

                @include media-breakpoint-up("md") {
                    gap: $fluid-1440-24-16;
                    max-width: clamp(19.5rem, 14.5769rem + 7.6923vw, 21.5rem);
                }

                h3 {
                    color: $text-primary;
                    align-self: stretch;
                    @include heading-s;
                }

                p {
                    color: $text-secondary;
                    @include paragraph-m;
                }
            }
        }
    }
}
