@import "@assets/styles/variables";
@import "@assets/styles/mixins";

.root {
    @include global-padding;
    background-color: $bg-primary;
    padding-block: 4rem;

    header {
        display: flex;
        flex-direction: column;
        padding-bottom: 3.5rem;
        gap: 0.5rem;

        span {
            @include caption;
        }

        h2 {
            @include heading-m;
        }
    }

    .expertiseGrid {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2.5rem;

        .expertiseCard {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1.5rem;
            align-self: stretch;

            img {
                width: 5rem;
                height: 5rem;
            }

            .expertiseContent {
                display: flex;
                max-width: 20rem;
                flex-direction: column;
                align-items: flex-start;
                gap: 1rem;
                align-self: stretch;

                h3 {
                    color: $text-primary;
                    align-self: stretch;
                    @include heading-s;
                }

                p {
                    color: $text-secondary;
                    @include paragraph-m;
                }
            }
        }
    }
}
