@import "@assets/styles/variables";
@import "@assets/styles/mixins";

.root {
    @include global-padding;
    padding-top: 5rem;

    header {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 0.5rem;

        span {
            @include caption;
        }

        h2 {
            @include heading-l;
        }
    }
    .advantages {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-block: 3.5rem 2.5rem;

        .advantageItem {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;

            span:first-child {
                @include body-number;
            }

            span:last-child {
                background-color: $bg-secondary;
                @include paragraph-l;
                margin-top: -1.25rem;
            }
        }

        .advantageItem:nth-child(2) {
            align-items: flex-end;
        }
    }
}
