@import 'variables';
@import 'mixins';
@import 'base';

body {
    // padding: $fluid-1920-24-20;
    background-color: $bg-secondary;
    min-width: 320px;
    padding-inline: 1rem;
    position: relative;
}
